{
  "apiBaseUrl": "https://stallionautolab.com/apis",
  "adminGalleryApiBaseUrl": "https://stallionautolab.com/apis",
  "mediaBaseUrl": "https://stallio-public.tor1.digitaloceanspaces.com",
  "tokenRefreshLeewaySeconds": 20,
  "authIssuer": "https://your-issuer.example.com/",
  "authAudience": "your-api-audience",
  "authClientId": "your-client-id"
}
